*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#menu{
    display: inline-flex;
    align-items: center;
    height: max-content;
    width: 100%;
    justify-content: space-around;
    height: 60px;
    background-color: #43434527;
}
#menu ul li{
    display: inline-flex;
    margin-left: 20px;
}

.menu-tool{
    display: inline-flex;
    align-items: center;
    height: max-content;
    width: 40%;
    justify-content: center;
    justify-content: space-around;
}
.menu-tool.menu ul{

}