@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
strong{
    font-size: 1.3em;
}
* {
    /* box-shadow: 0 0 5px #000; */
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

hr {
    border: 3px solid #000;
    width: 30%;
    margin: 60px auto;
}

/* body::-webkit-scrollbar{
    display: none;
} */
#landing-page {
    position: relative;
    display: grid;
    background-color: #eaeaea;
    height: max-content;
    width: 100%;
}

#body {
    width: 100%;
    background-image: url(img/GRECALE_BG.webp);
    background-size: 100%;
    height: 100vh;
    margin-bottom: 20px;
}

#menu {
    background-color:transparent;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    z-index: 1111;
}

.sticky {
    background-color: rgba(47, 43, 43, 0.812) !important;
    position: fixed !important;
    backdrop-filter: blur(10px);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    height: 60px;
    animation: menu 0.5s linear;
}

@keyframes menu {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(5%);
    }
}

.choice ul,
.tool ul {
    display: flex;
    height: max-content;

}

.choice ul li,
.tool ul li {
    list-style: none;
    line-height: 60px;
    margin-left: 30px;
    padding: 0 10px;
    width: max-content;
    height: max-content;
}

.choice .tool {
    margin-left: 10%;
}

.choice ul li a,
.tool ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #FFFFF0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.choice ul li a::after, .tool ul li a::after {
    content: "";
    position: absolute;
    background-color: #4876FF;
    height: 2px;
    width: 0;
    left: 50%;
    top: -30%;
    transition: 0.3s;
}

.choice ul li a:hover, .tool ul li a:hover {
    color: #4876FF;
}

.choice ul li a:hover::after, .tool ul li a:hover::after {
    width: 100%;
    left: 0;
}

.choice i,
.tool i {
    background-color: inherit;
    color: #a0a0a0;
    height: max-content;
    margin-left: 10px;
}

.title-logo {
    display: flex;
    justify-content: center;
}

/* card */
.title {
    width: 15%;
    margin-top: 6%;
}

#card {
    background-color: #0a0a4528;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
    height: 100%;
}

.hagtag1,
.hagtag2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    animation: show 1s linear;
    width: fit-content;
}


.hagtag1 p,
.hagtag2 p {
    font-size: 0.8em;
    text-transform: none;

}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.hagtag1 {
    position: absolute;
    top: 23%;
    left: 5%;
    width: 500px;
}

.hagtag2 {
    position: absolute;
    top: 40%;
    left: 6%;
    width: 350px;
}

#card .img {
    overflow: hidden;
}

.img img {
    animation: car 0.8s linear;
    width: 71%;
    margin-top: 2%;
    height: 30%;
    margin-left: 32%;
    transition: 1.5s;
}

.button-menu {
    display: none;
    z-index: 3;
}

.menu-mobile {
    display: none;
}

.list-mb {
    display: flex !important;
}

.space {
    display: none;
}

.language {
    display: none;
}

@keyframes car {
    from {
        transform: translateX(100%);
        opacity: 0;

    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }

}

/* Start page1 */
#page1 {
    height: 45vh;
    color: white;
    overflow: hidden;
}

.page1-text {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(img/backgrou_black.jpg);
    transition: 1.2s;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
}

.page1-text.active {
    display: flex;
    animation: show-content 0.6s linear forwards;
    opacity: 1;
}

.text-content {
    width: 80%;
}

.text-content>div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

@keyframes show-content {
    0% {
        opacity: 0;
        transform: translate(0, 50%);
        filter: blur(33px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.page1-text h1 {
    font-size: 3em;
    text-align: center;
}

.page1-text p {
    margin-top: 2vh;
    line-height: 1.5em;
    font-size: 1.2em;
}

/* content */
#content,
#content1,
#content2 {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    text-align: center;
    position: relative;

}

#content h2,
#content1 h2,
#content2 h2 {
    margin: 20px 0;
    font-size: 3em;
    padding-top: 20px;
}

.turbo {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    box-shadow: 0 10px 20px #bdbdbd;
    display: flex;

}

.turbo.active img {
    animation: showimg 1.9s ease-in-out 1 forwards;
}

.box-img-slide {
    width: 60%;
    height: 90%;
    overflow: hidden;
    margin: 3% 10px;
}

.img-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;
}

.img-slide:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.img-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    width: 30%;
    margin: 3% auto;
    height: 90%;
    overflow: hidden;
}

.turbo.active .text h3 {
    animation: showtext 1.6s ease-in-out 1 forwards;
}

.text h3 {
    font-size: 1.8em;
    color: orangered;
    margin-bottom: 20px;
    opacity: 0;
}

.text1,
.text2 {
    line-height: 1.6em;
    opacity: 0;
    text-align: justify;
}
.text1{
    overflow: hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:16;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.turbo.active .text1 {
    animation: showtext 1.9s ease-in-out 1 forwards;
}

.text .button {
    border: 1px solid #000;
    width: max-content;
    padding: 10px 20px;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 3%;
    margin-left: 35%;
    opacity: 0;
}

.turbo.active .button {
    animation: showtext 2.1s ease-in-out 0.5s 1 forwards;
}

.text .button:hover,
.item-text .button:hover {
    background-color: #000;
    color: white;
}

@keyframes showimg {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes showtext {
    0% {
        filter: blur(33px);
        transform: translate(-100%, 0);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translate(0, 0);
    }
}

/* content1 & content2 */
.our-car,
.in-car {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    height: 80%;
    position: relative;
    box-shadow: 0 10px 20px #bdbdbd;
}

.item-image {
    width: 60%;
    height: 90%;
    margin: 3% 10px;
    overflow: hidden;
    position: relative;
}

#list {
    position: relative;
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


 .show:hover{
    cursor: pointer;
    transform: scale(1.3);
}

@keyframes img-left {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.our-car.active .item img {
    animation: img-left 1.9s ease-in-out 1 forwards;
}

.item-text {
    width: 30%;
    height: 90%;
    margin: 3% auto;
    overflow: hidden;
}

.text-left {
    line-height: 1.6em;
    opacity: 0;
    text-align: justify;
}

@keyframes text-left {
    0% {
        transform: translate(100%, 0);
        filter: blur(33px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translate(0, 0);
    }
}

.our-car.active .text-left {
    animation: text-left 1.9s ease-in-out 1 forwards;
}

.item-text .button {
    border: 1px solid #000;
    width: max-content;
    padding: 10px 20px;
    font-weight: bolder;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.our-car.active .button {
    animation: text-left 2.1s ease-in-out 0.5s 1 forwards;
}

.item-text h3 {
    font-size: 1.8em;
    color: orangered;
    opacity: 0;
    margin-bottom: 20px;
}

.our-car.active .item-text h3 {
    animation: text-left 1.6s ease-in-out 1 forwards;
}

/* nội thất */
.in-car.active img {
    animation: showimg 1.9s ease-in-out 1 forwards;
}

.in-car.active .item-text h3 {
    animation: showtext 1.6s ease-in-out 1 forwards;
}

.in-car.active .text2 {
    animation: showtext 1.9s ease-in-out 1 forwards;
}

.in-car.active .button {
    animation: showtext 2.1s ease-in-out 1 forwards;
}

/* css slide  */
.show, .hide, .show-prev, .hide-prev{
    display: block;
    transition: 1.3s;
}
.show img{
    animation: show-img 0.2s ease-in-out 1 forwards !important;
}
.hide img{
    animation: hide-img 0.2s ease-in-out 1 forwards !important;
}
.show-prev{
    animation: show-prev 3.2s ease-in-out 1 forwards !important;
}
.hide-prev{
    animation: hide-prev 3.2s ease-in-out 1 forwards !important;
}

@keyframes show-img{
    0%{
        transform: translate(-100%,0);
    }
    100%{
        transform: translate(0,0)
    }
}
@keyframes hide-img{
    0%{
        transform: translate(0%,0);
    }100%{
        transform: translate(100%,0);
    }
}
@keyframes show-prev{
    0%{
        transform: translate(100%,0);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes hide-prev{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}

/* css thêm class show hide */






/* css next prev */

#prev,
#next {
    position: absolute;
    top: 50%;
    border: 2px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    width: 39px;
    font-size: 1.3em;
    height: 39px;
    border-radius: 50%;
    color: #ffffff;
    opacity: 0;
}

#prev:hover,
#next:hover {
    background-color: black;
    border: none;
    cursor: pointer;
}

@keyframes prev {
    from {
        transform: translateX(20%);

    }

    to {
        transform: translateX(3%);
        opacity: 1;
    }
}

@keyframes next {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.item-image:hover #prev {
    animation: prev 0.3s linear forwards;
}

.item-image:hover #next {
    animation: next 0.3s linear forwards;
}

#prev {
    left: 2%;
}

#next {
    right: 2%;
}
/* footer */
#footer{
    height: 81vh;
    width: 100%;
    background-color: #95a5a6;
    padding-top: 3%;
    font-style: normal;
    margin-top: 5%;
}
#footer a:hover{
    color: #240ab5;
}
.footer-bottom, .footer-top, .footer-mid{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.footer-top{
   margin-top: 0%;
   justify-content: space-between;
}
.top-img{
    width:10%;
}
.top-img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.top-text{
    width: 90%;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-top: 2%;
    margin-right: 6%;
    height: min-content;
    font-weight: bold;
}
.footer-mid{
    height: 8vh;
    align-items: center;
    width: 89%;
}
.footer-mid ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footer-mid ul li{
    list-style: none;
}
.footer-mid ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}
.footer-mid ul li i{
    font-size: 1em;   
}
.footer-mid img{
    width: 20px;
    filter: brightness(0.1);
}
.footer-bottom{
    height: 30vh;
    justify-content: space-around;
    margin-left: 5%;
}
.footer-bottom a{
    color: #000;
    text-decoration: none;
}
.bottom-choice h4{
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 1000;
}
.bottom-choice li{
    list-style: none;
    margin-bottom: 12px;
}
.bottom-choice li a, .address{
    color: #000;
    font-size: 0.9em;
}
.bottom-choice li a{
    height: fit-content;
    width: max-content;
}
.address{
    margin-bottom: 23px;
}
.address p{
    margin-bottom: 12px;
}
.social{
    margin-bottom: 10px !important;
}
.bottom-icon{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.bottom-icon i{
    font-size: 2em;
    padding: 2px;
    border-radius: 30%;
}
.bottom-icon a:first-child:hover{
    color:#ffffff !important;
    background-color: #3498db;
    border-radius: 20%;
    box-shadow: 0 0px 5px #000;
}
.bottom-icon a:nth-child(2):hover{
    box-shadow: 0 0px 5px #000;
    border-radius: 80%;
}
.bottom-icon a:nth-child(3):hover{
    color: #ffffff !important;
    background:linear-gradient( to right,
    #f8d210, #ec831b, #b71825, #8b149d
    );
    border-radius: 30%;
    box-shadow: 0 0px 5px #000;
}
.bottom-icon a:last-child:hover{
    color: #b71825 !important;
    border: floralwhite;
    background-color: #ffffff;
    box-shadow: 0 0px 5px #000;
    border-radius: 10%;
}
.coppy-right{
    margin-top: 1%;
    text-align: center;
}
.menu-mobile {
    position: absolute;
    left: 0;
    height: 101%;
    width: 100%;
    z-index: 11111;
}

.menu-mobile ul {
    width: 30%;
    height: 100%;
    padding-top: 10%;
    background-color: #000;
    animation: mb-menu 0.5s ease-in-out;
    z-index: 1;
}

@keyframes mb-menu {
    from {
        transform: translateX(-100%);
    }
}

.clear {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.538);
    transition: all 0.2s linear 0.5s;
}

.menu-mobile ul li {
    padding:5% 0;
    list-style: none;
    border-bottom: 1px solid #a0a0a0;
}

.menu-mobile ul li a {
    text-decoration: none;
    font-size: 1.3em;
    color: #a0a0a0;
}

.menu-mobile ul li:hover a {
    color: #eaeaea;
}
.menu-mobile ul li:hover{
    border-bottom: 3px solid #eaeaea;
}





/*Start Chat-box*/

#chatbox-support {
    position: fixed;
    top: 91%;
    right: 7%;
    padding: 0.5%;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1111;
}

.chatbox-icon {
    position: fixed;
    right: 3%;
    top: 88%;
    font-size: 1.5em;
    padding: 0.8% 1%;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
    z-index: 1111;
}

.chatbox-icon i {
    animation: icon 0.8s linear infinite forwards;
}

@keyframes icon {
    0% {
        transform: rotate(0);
    }

    35% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(0);
    }
}

.chatbox-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: '';
    width: 100%;
    height: 100%;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(5, 5, 5, 0.6);
    }

    50% {
        box-shadow: 0 0 0 30px rgba(211, 202, 202, 0);
    }

    80% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.chatbox-icon::before {
    animation: ripple 1.5s infinite;
}

.chatbox-icon::before {
    animation-delay: 0.9s;
}




/* responsive */
/* mobile & tablet width < 1024px*/

@media only screen and (max-width: 63.9375em) {
    hr {
        margin: 20px auto !important;
    }

    .chatbox-icon {
        top:93%;
        font-size: 1.3em;
        padding: 10px 12px;
    }

    #chatbox-support {
        top:95%;
        font-size: 0.9em;
        right: 16%;
    }
}

/* mobile: width < 740px */
@media only screen and (max-width: 500px) {

    #menu {
        display: none;
    }

    #body {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 300%;
        background-position-x: center;
    }

    .title {
        width: 28%;
    }

    #card {
        /* background:none; */
        backdrop-filter: none;
        z-index: 0;
    }

    .hagtag1,
    .hagtag2 {
        font-size: 1.2em !important;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        width: fit-content;
    }

    .hagtag1 {
        top: 3%;
        left: 8%;
        line-height: 36px;
    }

    .hagtag2 {
        top: 5%;
        right: 10%;
        font-size: 1.2em !important;
        line-height: 20px;
        width: 90%;
    }

    .img img {
        width: 100%;
        margin-top: 45%;
        margin-left: 2%;
    }

    .space {
        display: block;
        position: absolute;
        top: 11%;
        height: 9%;
        width: 100%;
        background-color: #bdbdbd;
        clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
    }

    .space h1 {
        position: absolute;
        top: 20%;
        right: 5%;
        font-style: italic;
        font-weight: bolder;
        font-size: 39px;
        line-height: 40px;
        text-align: right;
    }

    .space-text {
        width: 90%;
        position: absolute;
        top: 39%;
        right: 5%;
        font-style: italic;
        font-weight: 800;
        font-size:18px;
        line-height: 19px;
        text-align: justify
    }

    .language {
        display: block;
        position: absolute;
        top: 1%;
        right: 0;
        text-align: start;
        width: 30%;
        color: #ffffff;
        font-size: 1.8em;
    }

    .basic-infor {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .language img {
        width: 46px;
        transform: translateY(20%);
    }
    .menu-mobile ul {
        width: 50%;
    }
    .menu-mobile ul li {
        padding: 20% 0;
        list-style: none;
    }    
    .button-menu {
        display: block;
        position: absolute;
        top: 1%;
        left: 6%;
        height: max-content;
        width: 10%;
        font-size: 1.9em;
        color: #ffffff;
        transition: 1s;
    }

    #page1 {
        position: absolute !important;
        right: -100%;
        top: 0;
        opacity: 0;
        display: none;
    }

    #page2 {
        position: absolute !important;
        right: -100%;
        top: 0;
        opacity: 0;
        display: none;
    }

    /* content */
    #content h2, #content1 h2, #content2 h2{
        font-size: 1.5em;
    }
    .turbo, .in-car {
        display: block;
    }

    .box-img-slide {
        width: 90%;
        margin-top: 10px;
        height: 45%;
    }

    .text h3 {
        display: none;
    }

    .text{
        width: 90%;
        height: 45%;
        margin-top: 20%;
    }
    .text1, .text-left, .text2{
        overflow: hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp:9;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 0.8em;
        line-height: 1.3em;
    }
    .text .button, .item-text .button{
        margin-top: 6%;
    }
    /* nội thất */
    .our-car{
        display: flex;
        flex-direction: column-reverse;
    }
    .item-image{
        width: 90%;
        height: 45%;
        margin: 0 auto;
    }
    .item-text{
        width: 90%;
        height: 45%;
        margin-top: 20%;
    }
    .item-text h3{
        display: none;
    }
   /* footer */
   #footer{
    height: 80vh;
   }
   .top-text{
    display: none;
   }
   .top-img{
    width: 30%;
    margin-left: 35%;
   }
   .bottom-choice ul li{
    display: none;
   }
   .footer-bottom{
    position: relative;
    display: block;
   }
   .address{
    margin-top: -20px;
    margin-bottom: 20px;
   }
   .under{
    display: none;
   }
   .footer-mid ul{
    height: 100%;
   }
   .footer-mid ul li{
    height: 100%;
   }
   .footer-mid ul li a{
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1em;
    height: 100%;
    text-align: center;
    }
    .footer-mid img{
        margin-top: 8%;
    }
    .footer-mid ul li a i{
        font-size: 1.3em;
        margin-top: 8px;
    }
    .hr-bottom{
        width: 92% !important;
    }
    .coppy-right{
        margin-top: 15%;
    }
}

/* tablet: width >= 740px và width 1024px*/
@media only screen and (min-width:760px) and (max-width:63.9375em) {

    #menu {
        height: 35px;
    }

    .choice ul li,
    .tool ul li {
        line-height: 35px;
    }

    .tool ul li i {
        margin-top: 0 !important;
    }

    .choice ul li a,
    .tool ul li a {
        font-size: 0.6em;
    }

    /* body */
    #body {
        background-size: cover;
        height: 72vh;
    }

    .title {
        margin-top: 7%;
        width: 25%;
        margin-left: 5%;
    }

    /* card */
    #card {
        height: 100%;
    }

    .hagtag1 {
        top: 22%;
        font-size: 1.5em !important;
        left: 18%;
    }

    .hagtag2 {
        top: 35%;
        left: 17%;
        font-size: 1.6em;
        width: 70%;
        text-align: center;
        line-height: 1.3em;
    }

    .img img {
        margin-top: 25%;
        width: 100%;
        height: 35%;
        margin-left: 2%;
    }

    /* page1 */
    #page1 {
        height: 26vh;
    }

    .page1-text h1 {
        font-size: 1.8em;
    }

    /* content */
    #content,
    #content1,
    #content2 {
        height: 55vh;
    }

    .text h3 {
        font-size: 1.3em;
    }

    .text1,
    .text2 {
        font-size: 0.6em;
    }

    .text .button {
        font-size: 0.6em;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .text-left {
        font-size: 0.6em;
    }

    .item-text .button {
        font-size: 0.6em;
        padding: 5px 10px;
    }
    #chatbox-support {
        font-size: 0.9em;
        right: 8%;
    }
}